 .u-section-1 {
  background-image: url("images/RadioShack-1.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-1 .u-audio-1 {
  width: 500px;
  height: 111px;
  background-image: none;
  font-family: "Comic Relief";
  margin: 688px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-audio-1 {
    width: 340px;
  }
}